.app-layout {
  display: flex;
  min-height: 100vh;
  background-color: #f5f6f8;
  padding: .5rem;
}

.main-content {
  flex: 1; 
  margin-left: 260px;
  padding-top: 88px;
  min-height: 100vh;
}

.page-content {
  padding: 2rem;
}

@media (max-width: 767px) {
  .app-layout {
    display: block;
    padding: 0;
  }

  .main-content {
    margin-left: 0;
    padding-top: 128px;
  }

  .page-content {
    padding: 1.5rem 1rem 0;
  }
}
