<aside class="sidebar position-fixed top-0 start-0 bottom-0 bg-white m-2 border-end" style="--bs-border-width: 2px; --bs-border-color: #dee2e6;">
  <a class="sidebar-header" routerLink="/dashboard" routerLinkActive="active-header">
    <span class="brand">Home Gig</span>
   
      <img
        src="/assets/images/home-gig-icon1.png"
        alt="Home"
        class="sidebar-home-icon"
      />    
  </a>

  <nav class="sidebar-nav">
    <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
    <a routerLink="/products" routerLinkActive="active">Products</a>
    <a routerLink="/inventory" routerLinkActive="active">Inventory</a>
    <a routerLink="/customers" routerLinkActive="active">Customers</a>
    <a routerLink="/orders" routerLinkActive="active">Orders</a>
    <a routerLink="/payments" routerLinkActive="active">Payments</a>
    <a routerLink="/reports" routerLinkActive="active">Reports</a>
    <a routerLink="/login" (click)="logout($event)">Logout</a>
  </nav>
</aside>
